<div class="row">
    <h1>Fill Up Your Good Thing Jar</h1>
    <h4>What's good thing that happened today?</h4>
<form method="POST">
    <div class="form-group">
        
        <textarea type="text" id="goodThing" class='form-control' rows="3" name="goodThing"></textarea>
    </div>
            <button type="submit" class="btn btn-success btn-lrg">Save</button>
</form>
</div>
<div class="row">
<h4>Remember when this good thing happened?</h4>
<div>{{thing}}</div>
</div>