<h1>Fill Up Your Good Thing Jar</h1>
<form method="POST">
    <div>
        <label for="goodThing">A good thing that happened today</label>
        <input type="text" id="goodThing"  name="goodThing">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<div>{{thing}}</div>
