<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        <title>Good Thing Jar</title>
    </head>
    {{#if flash}}
    <div>
        {{flash.type}}<br />
        {{flash.intro}}<br />
        {{{flash.message}}}
    </div>
    {{/if}}
    <body>
        {{{body}}}
    </body>
</html>